[Desktop Entry]
Name=Theonix Wallpaper
Name[x-test]=xxTheonix Wallpaperxx
X-KDE-PluginInfo-Name=Theonix
X-KDE-PluginInfo-Author=Theonix OS Team
X-KDE-PluginInfo-Email=design@theonix.org
X-KDE-PluginInfo-License=CC-BY-SA-4.0
