[Desktop Entry]
Type=Application
Version=1.0
Name=Install Theonix OS
Comment=Install the operating system to your disk
Exec=calamares
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
