[Desktop Entry]
Type=Application
Version=1.0
Name=Install Theonix OS
Comment=Install Theonix OS to your disk (opens installation log in Terminal)
Exec=theonix-installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
